/* Base section styles */
.section {
  width: 100vw; /* Use 100% instead of 100vw */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically if needed */
  box-sizing: border-box; /* Includes padding in dimensions */
  position: relative; /* Ensures proper stacking context if needed */
  padding: 50px 0; /* Add vertical padding */
}

/* Alternating background colors */
.section1a {
  background-color: #eee;
}

.section1b {
  background-color: #fff;
}

.section2 {
  background-color: var(--primary-color);
}

.section3 {
  background-color: #abb6c4;
}

.sectionfooter {
  background-color: var(--primary-color);
  color: #fff;
}

.svgSeparator {
  width: 100vw;
  position: relative;
}

/* Content container */
.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1440px; /* More space for cards */
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center; /* Optional for centering text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    padding: 0 10px; /* Increase padding on smaller screens */
  }
}

.noTopPadding {
  padding-top: 0;
}
