.navContainer {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  left: -100%;
  background-color: var(--primary-color);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 9998;
}

.logo {
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100px; /* Adjust the height as needed */
  display: block;
}

.logoActive {
  z-index: 9999;
}

.navItemsContainer {
  line-height: 100%;
  width: 100%;
  z-index: 9997;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all ease 0.4s;
}

.navActive {
  transition: all ease 0.4s;
  left: 0;
  /* padding: 0 1rem; */
}

.navItemsContainer a {
  padding: 1.5rem;
  /* border: 1px solid red; */
  text-decoration: none;
  color: #ffffff;
}

.hamburgerContainer {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 1rem;
  cursor: pointer;
}

.linkContainer {
  width: 100%;
}

.linkWrapper {
  width: 100%;
  cursor: pointer; /* Add cursor pointer for better UX */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: background-color 0.3s ease; /* Add transition for background color */
}

.linkWrapper:hover {
  background-color: #7e8ea2; /* Change to a more appealing color that fits your color scheme */
}

.links {
  display: block; /* Make the link a block element to fill the parent container */
  width: 100%; /* Ensure the link takes up the full width of the parent container */
  padding: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.links:hover {
  color: #fff;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.topBar h1 {
  flex-grow: 1;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .links {
    font-size: 1.5em; /* Increase the font size for mobile */
  }
}

/* Styles for tablets in portrait */
@media only screen and (min-width: 37.5rem) and (max-width: 64rem) and (orientation: portrait) {
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .hamburgerContainer {
    display: none;
  }
  .navContainer {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 4rem;
    left: 0;
    transition: top 0.2s;
    box-shadow: 0 10px 30px -10px black;
    backdrop-filter: blur(10px);
  }
  .navItemsContainer img {
    display: none;
  }
  .linkContainer {
    display: flex;
    flex-direction: row;
    color: #333;
  }
  .navItemsContainer a {
    color: #333;
  }
  .navContainerTop {
    background-color: #e8eef2;
    box-shadow: none;
  }

  .navContainerTop .links a {
    color: #0f1c40;
  }

  .navContainerTop .links a:hover {
    color: gray;
  }
  .scrollDirection {
    top: -5rem;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .hamburgerContainer {
    display: none;
  }
  .navContainer {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 4rem;
    left: 0;
    transition: top 0.2s;
    box-shadow: 0 10px 30px -10px black;
    backdrop-filter: blur(10px);
  }

  .navItemsContainer img {
    display: none;
  }

  .linkContainer {
    display: flex;
    color: #333;
    flex-direction: row;
  }
  .navItemsContainer a {
    color: #333;
  }
  .navContainerTop {
    background-color: #e8eef2;
    box-shadow: none;
  }
  .scrollDirection {
    top: -5rem;
  }
}
